.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: #000;
}

button {
  cursor: pointer;
}

.header {
  padding: 40px;
  background-color: rgb(94, 187, 187);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.searchBox {
  text-align: center;
  margin: auto;
  padding: 2px;
}
.search {
  font-weight: bold;
  font-size: 27px;
}

.searchBox input {
  /* Styles for the search input */
  padding: 10px;
  border-radius: 0.5rem;
  margin-right: 10px;
  width: 400px;
  height: 18px;
}

.userProfile {
  display: flex;
  align-items: center;
}
.suggesationProfileImg {
  width: 30px;
  height: 30px;
  border-radius: 0.4rem;
  margin: auto;
  margin-left: 10px;
}

.profileImage {
  width: 25px;
  height: 25px;
  border-radius: 0.4rem;
}
.username {
  margin-right: 60px;
  margin-left: 10px;
  font-weight: bold;
  color: "black";
}

.userName1 {
  font-size: "8px";
  float: left;
  padding-left: 25px;
  /* margin-bottom: 20px; */
}
.userPostContent {
  width: 100%;
  /* padding: 300px; */

  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 0.705);
  font-size: 20px;
}

.container {
  display: flex;
  /* margin-top: 126px; */
}

/* Menu Section  */

.menu-section {
  padding: 45px;
  flex: 0 0 auto;
  width: 200px;
  background-color: black;
  height: calc(100vh - 100px);
  position: fixed;
  left: 0px;
  margin-top: 5px;
  font-size: larger;
  border-right: 1px solid white;
  border-top: 1px solid white;
}

.menu-section nav {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.menu-section nav a {
  display: block;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.menu-section nav a:hover {
  color: bisque;
}

.menu-section nav span {
  padding: 5px;
}
.menuItem {
  font-size: 27px;
  font-weight: bolder;
}
.postBtn {
  margin-top: 20px;
  font-size: 27px;
  font-weight: bolder;
  padding: 10px;
  width: 120px;
}
.postBtn:hover {
  background-color: bisque;
  border-radius: 1rem;
}

/* Suggesation Container  */

.suggestions-container {
  padding: 10px;
  flex: 0 0 auto;
  width: 19%;
  background-color: #000;
  color: white;
  height: calc(100vh - 100px);
  position: fixed;
  right: 0;
  z-index: 4;
  border-left: 1px solid white;
  margin-top: 6px;
}

.suggestions-container .user {
  margin: 20px;
  width: 80px;
  height: 20px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  padding: 8px;
  text-decoration: none;
  height: 18px;
  margin-left: 6px;
}
/* .suggesation-sub-container {
  border: 0.5px solid grey;
} */
.suggesationUserContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid white;
}

.suggestions-container .user:hover {
  background-color: #333;
}

.suggestions-container .user .suggestedPerson {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: medium;
}
.suggestedPerson {
  margin-bottom: 10px;
}
.btnContainer {
  float: right;
}

.followBtn {
  margin-top: 5px;
  background-color: #f768f7;
  padding: 8px;
  border-radius: 1rem;
  font-size: large;
  font-weight: bold;
}

.content-section {
  flex: 1 1 auto;
  /* margin-left: 200px; */
  overflow-y: auto;
  /* color: red; */
}
.liked-Container {
  padding: 30px;
  margin: 10px;
  /* border-right: 1px solid white; */
  border-bottom: 1px solid white;
  background-color: #000;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  width: 70%;
}

.bookMarked-Container {
  padding: 30px;
  margin: 10px;
  /* border-right: 1px solid white; */
  border-bottom: 1px solid white;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  width: 70%;
}

.explore-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ExploreBtnContainer {
  padding-bottom: 20px;
  margin: auto;
  width: 400px;
}
.ExploreBtnContainer .btn:hover {
  background-color: #cd00c2;
  color: white;
}

.exploreFeed {
  padding: 30px;
  color: white;
  background-color: black;
  color: rgba(255, 255, 255, 0.705);
  width: 63%;
  justify-content: center;
  margin: auto;
}

.exploreFeed button {
  border: none;
  padding: 4px 12px;
  margin-right: 10px;

  cursor: pointer;
  margin-bottom: 10px;
}

.exploreFeed button:focus {
  outline: none;
}
.like-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.like-button span {
  font-size: 50px;
}

/* Home Section  */
.HomebtnContainer {
  width: 250px;
  margin: auto;
  justify-content: end;
  margin-right: 320px;
}
.HomebtnContainer .btn {
  padding: 8px;
  width: 100px;
  font-size: larger;
  font-weight: bold;
}
.btn:hover {
  border-radius: 0.5rem;
}

/* UserProfile Page */
.userProfilePosts1 {
  padding: 30px;
  width: 63%;
  margin: auto;
  background-color: black;
  color: white;
}

.userProfilePosts2 {
  padding: 30px;
  width: 67%;
  margin: auto;
  background-color: black;
  color: white;
  margin-bottom: 200px;
}

.userProfileInfo {
  padding: 30px;
  margin-left: 40px;
  border: 1px solid grey;
  /* background-color: #000; */
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  width: 63%;
}

.name {
  font-size: large;
  font-weight: bold;
}

.userProfileInfo {
  margin: auto;
}
.userProfileInfo .userName {
  font-size: medium;
  color: grey;
}
.userProfileInfo .userDetails {
  display: flex;
  justify-content: space-around;
  font-size: larger;
  font-weight: bold;
}

.userProfilePosts {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
}

.cardPost {
  margin-top: 129px;
  width: 500px;
  margin-left: 280px;
  border-bottom: 1px solid grey;
}
.cardPost img {
  padding-bottom: 15px;
}

.formDetails {
  /* margin-top: 300px; */
  background-color: rgb(116, 115, 115);
  padding: 30px;
  width: 400px;
  margin: auto;
  height: 180px;
  border: 1px solid grey;
  border-radius: 8px;
  margin-bottom: 40px;
}
.formDetails .formLabel {
  color: white;
  font-size: larger;
  margin-top: 20px;
}

.formLabel input {
  padding: 20px;
  margin-top: 10px;
  background-color: #000;
  color: grey;
  font-weight: bold;
  font-size: large;
}

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 900px) {
  .cascading-right {
    margin-right: 0;
  }
}
